:root {
  /* Create CSS Vars to also be able to use them on calc (ex: layout.layer.css)
    ----------------------------
    Same for gap, margin, padding, ...
    */

  /* .gap-1 */
  --spacing-xs: calc(var(--spacing) * 1);
  /* .gap-2 */
  --spacing-sm: calc(var(--spacing) * 2);
  /* .gap-4 */
  --spacing-md: calc(var(--spacing) * 4);
  /* .gap-6 */
  --spacing-lg: calc(var(--spacing) * 6);
  /* .gap-8 */
  --spacing-xl: calc(var(--spacing) * 8);
}