@import "../../modules/atom-ui/src/theme/globals.css";


/* =============================================================================
    DOC SPECIFIC STYLES
============================================================================= */

/* Command component when open directly on the document will create some glitch on the Height of the page and scrollable content. */
/* Add this CSS-guard for the docs and showcase only. */

@layer components {

  /* Limit any cmdk list by default in docs */
  [cmdk-list] {
    max-height: 15rem;
    /* same as max-h-60 */
    overflow: auto;
  }

  /* Optional: prevent cmdk root from creating odd containing blocks/scopes */
  [cmdk-root] {
    contain: layout paint;
    /* keeps measurements from affecting the page */
  }
}